<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <a href="{{url_for('main')}}">back to main page</a>
    <h2>Admin Menu</h2>
    <h4><a href="{{url_for('deleteitem')}}">Delete product item</a></h4>
    <h4><a href="{{url_for('insertitem')}}">Insert product item</a><br></h4>
    <h4><a href="{{url_for('payments')}}">Manage payments and delivery</a></h4>
</body>
</html>