{% extends 'vlab.html' %}
{% block product %}
<h2>Your basket contains:</h2>
<table class="table table-hover table-condensed text-center">
    <thead>
        <tr>
            <th class="text-center">Item</th>
            <th class="text-center">Price</th>
            <th class='text-center'>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">Red Lotion</td>
            <td>650</td>
            <td>1</td>
        </tr>
        <tr>
            <td scope="row">Yellow Lotion</td>
            <td>980</td>
            <td>1</td>
        </tr>
    </tbody>
</table>


{% endblock product %}