{% extends 'vlab.html' %}
{% block product %}
<h2>Your basket contains:</h2>
<table class="table table-hover table-condensed text-center">
    <thead>
        <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Item id</th>
            <th class="text-center">Item</th>
            <th class="text-center">User id</th>
            <th class="text-center">User</th>
            <th class='text-center'>Volume</th>
            <th class='text-center'>Price</th>
            <th class='text-center'></th>
        </tr>
    </thead>
    <tbody>
            {% for b in basket %}
            <tr>
            <td scope="row">{{b.id}}</td>
            <td scope="row">{{b.itemid}}</td>
            <td>{{b.item.name}}</td>
            <td>{{b.userid}}</td>
            <td>{{b.user.username}}</td>
            <td><!--<input type="text" value={{b.volume}} size="1">-->
            {{b.volume}}
            </td>
            <td>{{b.item.pricetags[0].price}},-</td>
            <td><a href="{{url_for('basket', deletion=b.id)}}" style="text-decoration: none"><big>&times;</big></a></td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total:</td>
                <td>{{totalprice}},-</td>
                <td></td>
            </tr>
    </tbody>
</table>

<a name="Savebasket" id="Savebasket" class="btn btn-primary btn-lg" href="{{url_for('myorder')}}" role="button">Order basket</a>

{% endblock product %}