<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Viki's Lab</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    {% extends 'bootstrap/base.html' %}
    {% import 'bootstrap/wtf.html' as wtf %}
    {% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Viki's Lab</h1>
            <p class="lead">Viki's Lab for decorative items</p>
        </div>
    </div>
    {% block middlepart %}
    <div class="row">
        <div class="col-xs-3"> 
            <ul class="nav nav-tabs nav-stacked">
                {% for item in items %}
                    <li>
                        <a href="{{url_for('selection', product=item.id)}}">{{item.name}}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div class="col-xs-6">
            {% block product %}
            {% endblock product %}
        </div>
        <div class="col-xs-3">
            {% if session.logged_in %}
                <h3>Greetings {{session.username}}</h3>
            {% endif %}
            {% if current_user.is_authenticated %}
            <h3>Hi, {{ current_user.username }}</h3>
            <h5><a href="{{url_for('logout')}}">Log out</a> </h5>
            {% else %}
            <h5>
                <a href="{{url_for('login')}}">Log in</a> or
                <a href="{{url_for('signup')}}">Sign up</a>          
            </h5>            
            {% endif %}
            <a name="basket" id="basket" class="btn btn-primary btn-lg" href="{{url_for('basket')}}" role="button">Your Basket</a>
        </div>
    </div>
    {% endblock middlepart %}
    <div class="navbar">
        <div class="col-xs-12">
            <div style="text-align: center">footnote</div> 
        </div>
    </div>
    {% endblock content %}
</body>
</html>